html, body { overflow-x: hidden; }
header {
	margin-top: 0;
}
.mainHeader .wrap {
	margin-top: 0;
	background-color: #2c3e50;
	height: auto;
	min-height: 80px;
	width: 100%;
	position: fixed;
}

a {
	text-decoration: none;
}


.mainHeader nav {
	height: auto;
	width: 100%;
}

.navbar-toggle {
    margin-top: 24px !important;
    margin-right: 25px !important;
    margin-bottom: 22px !important;

}

.navbar-inverse {
	background-color: #2c3e50 !important;
}

.mainHeader ul {
	float: right;
	list-style: none;
	margin: 0 auto;
}

.mainHeader ul li {
	font-size: 20px;
	display: inline;
}

.nav-contact {
  	margin-right: 50px;
  }

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 0 25px;
	height: 20px;
}

.mainHeader nav ul li a {
	line-height: 80px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader h1 a {
	text-decoration: none;
	color: white;
}

.headerLogo {
	height: 80px;
	width: 80px;
	margin-left: 50px;
}

.a-link {
	color: white;
	text-decoration: none;
}

.mainHeader nav a:hover, .mainHeader nav a:visited, .mainHeader nav a:active {
	text-decoration: none;
}    

#home {
	height: 100vh;
	height: -o-100vh; /* opera */
	height: -webkit-100vh; /* google, safari */
	height: -moz-100vh; /* firefox */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3498db;
background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	
}

.home-p {
	text-align: center;
	color: white;
	font-size: 32px;
	padding: 20% 10%;
}

.home-p a {
	color: #23527c;
}

.home-p a:hover {
	color: #4B336C;
}
#about {
	height: calc(100vh - 80px);
	height: -o-calc(100vh - 80px); /* opera */
	height: -webkit-calc(100vh - 80px); /* google, safari */
	height: -moz-calc(100vh - 80px); /* firefox */
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	/*
	background: url("img/background1.jpeg");
	background-size: cover;*/
	background-color: #0068e6;
background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}

.about-first-part {

}
.about-section .about-me {

}
/*
.about-section .about-p, .about-section ul {
	text-align: left;
	margin-left: 5%;
}

.about-section ul {
	text-align: left;
}*/


#skills {
	height: calc(100vh - 80px);
	height: -o-calc(100vh - 80px); /* opera */
	height: -webkit-calc(100vh - 80px); /* google, safari */
	height: -moz-calc(100vh - 80px); /* firefox */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00b894;
background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

.skills-section {
	padding: 0% 20%;
}

.skills-p {
	font-size: 18px;
}
#contact {
	background-color: white;
}

/* IMG HOVER */ 

.container-img {

  width: 50%;
}

@media only screen and (max-width: 766px) {
    .navbar-collapse {
		line-height: 40px;
	}

	.mainHeader nav ul li a {
		line-height: 60px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

}

@media screen and (min-width: 1024px){
  .container-img {
    width: 45.33333%;
  }
} 

@media screen and (max-width: 900px){
	#home, #about, #skills {
		height: auto;
		height: -o-auto; /* opera */
		height: -webkit-auto; /* google, safari */
		height: -moz-auto; /* firefox */
	}
  }

@media screen and (max-width: 599px) {
	.home-p {
		font-size: 22px;
		margin-top: 80px;
		padding: 0px;
	}
}

.container-img .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content-img {
  position: relative;
  height: 50%;
  width: 50%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content-img .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content-img:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content-img:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}